{% extends 'base.html'%}

{%block start%}

<div class="container mt-5">


	<div class="row">
		{%for pizza in pizzaa%}
		<div class= "col-md-3">
			<div class="card shadow-lg" style="width:18rm;">
				<img src="/media/{{pizza.image}}" style="height:230px;" class="card-img-top" alt=".......">
				<div class ="card-body">
					<h5 class = "card-title">{{pizza.pizza_name}}</h5>
					<p>Price - {{pizza.price}} | > {{pizza.category.category_name}}</p>
					<a href="{% url 'add-card' pizza.uid%}" class="btn btn-success"> Cart <i class="fa-solid fa-cart-shopping"></i></a>
					<a href="" class="btn btn-primary"> 15% Discount </a>
			</div>
		</div>
	</div>
	{% endfor%}
</div>
	
</div>

{% endblock %}