{% extends 'base.html' %}
{% block start %}

<div class="container mt-5 ">
  <form method="post" class="col-6 mx-auto card px-3 shadow-lg" enctype="multipart/form-data">
    {% csrf_token %}
    <h2 class="py-2">Payment Process..</h2>
    <hr>
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text" name="name" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Email</label>
      <input type="email" name="email" class="form-control" id="exampleInputPassword1" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Address</label>
      <input type="text" name="address" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Contact no.</label>
      <input type="number" name="contact" class="form-control" min="1000000000" max="9999999999" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Leave Note</label>
      <textarea name="note" class="form-control" placeholder="Message" ></textarea>
    </div>
  </form>
</div>
<body>
    <form action="https://uat.esewa.com.np/epay/main" method="POST">
        <input value="{{ pay_total }}" name="tAmt" type="hidden">
        <input value="{{ pay_total }}" name="amt" type="hidden">
        <input value="0" name="txAmt" type="hidden">
        <input value="0" name="psc" type="hidden">
        <input value="0" name="pdc" type="hidden">
        <input value="EPAYTEST" name="scd" type="hidden">
        <input value="{{ uid }}" name="pid" type="hidden">
        <input value="http://127.0.0.1:8000/DashBoard/" type="hidden" name="su">
        <input value="{{ request.build_absolute_uri }}" type="hidden" name="fu">
        <input class="btn btn-outline-primary" value="Submit" type="submit">
    </form>
</body>
{% endblock %}
